.formContact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 80%;
  background-color: #525b5a;
  border-radius: 50px;
  padding: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}

.formContact input {
  border-radius: 30px;
}

.sendButon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 12px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #21a89a, #7cd858);
  border: none;
  width: 134px;
  height: 40px;
  margin-left: 23%;
  margin-right: 20%;
}
