.admin-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 170px;
  background: #525b5a;
  border-radius: 0 0 45px 45px;
  padding: 0.5rem;
  margin-bottom: 2.2rem;
}

.admin-profil h1 {
  margin-left: 0.5rem;
  font-size: 32px;
  font-weight: bold;
  color: #21a89a;
}

.admin-profil p {
  margin-left: 0.5rem;
  font-size: 20px;
  color: white;
  padding: 10px 0;
}
