* {
  box-sizing: border-box;
}

.pageContainerMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.station,
.topPage {
  position: absolute;
  left: 40px;
  right: 40px;
  padding: 0;
  z-index: 1000;
}

.topPage {
  border-radius: 30px;
  top: 1rem;

  justify-content: center;
  text-align: center;
}

.station {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #525b5a;
  color: #d6dad8;
  opacity: 92%;
  border-radius: 50px;
}

.searchClient {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin: 10px 0;
}

.rounded-map {
  border-radius: 50px;
  overflow: hidden;
}
