.inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem;
  color: #525b5a;
}

.logoIns {
  height: 67px;
  width: 71px;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.error {
  color: red;
}

.h1Ins {
  font-size: 32px;
}
.h3Ins {
  color: #e5e9e7;
}
.formIns {
  display: flex;
  flex-direction: column;
  background-color: #525b5a;
  border-radius: 50px;
  padding: 12px;
  align-items: center;
}
.profilVehicule {
  display: flex;
  flex-direction: column;
  background-color: #525b5a;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  padding: 12px;
}
.h2Ins {
  font-size: 18px;
  color: #21a89a;
  font-weight: bold;
  text-align: center;
}
.labelIns {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 16px;
  color: #e5e9e7;
  text-align: left;
  width: 82%;
}

.inputIns {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  width: 90%;
  border-radius: 10px;
  background-color: #e5e9e7;
  border: none;
}

.buttonIns {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 12px;
  width: 50%;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #21a89a, #7cd858);
  border: none;
}
