.h2-profil {
  color: #21a89a;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #d9d9d9;
  width: 90%;
  height: 237px;
  border-radius: 30px;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.adress-station {
  background: #525b5a;
  width: 95%;
  height: 37px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  padding-left: 2%;
  display: flex;
  align-content: center;
}

.caracteristic-station {
  display: flex;
  justify-content: space-between;
  width: 95%;
  gap: 0.3rem;
}

.caracteristic-content {
  width: 30%;
  height: 74px;
  background: #525b5a;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.caracteristic-content-cars {
  width: 50%;
  height: 74px;
  background: #525b5a;
  padding-left: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 140px;
  background: #525b5a;
  border-radius: 0 0 45px 45px;
  padding: 0.5rem;
  gap: 5rem;
  margin: 0;
  margin-bottom: 2.2rem;
}

.header-profil h1 {
  font-size: 32px;
  font-weight: bold;
  color: #21a89a;
}

.header-profil p {
  font-size: 20px;
  color: white;
}

.img-profil {
  width: 123px;
  height: 108px;
  border-radius: 30px;
  margin-top: 0.4rem;
}

.icons {
  display: flex;
  flex-direction: column;
  width: 20px;
  margin-bottom: 2px;
}

.icons-location {
  width: 20px;
  margin-right: 5px;
  display: flex;
}

.icons-settings {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.7rem;
}

.container-icons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 1rem;
}

.icons-cars {
  width: 20px;
  margin-right: 8px;
  display: flex;
}

.title-vehicule {
  width: 93%;
}

.buttonLogout {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 12px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #21a89a, #7cd858);
  border: none;
}
